@{
    
}

<div class="row" ng-controller="QueueController">
    <div class="col-md-2">
        <ul ng-repeat="computer in computers" class="list-unstyled">
            <li><a href="Javascript:void(0)" ng-click="selectComputer(computer)">{{ computer }}</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <h5>{{selectedComputer}}</h5>
        <div style="height: 200px; overflow-y: scroll;" ng-show="queues.length">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <td>name</td>
                        <td>count</td>
                        <td>journal count</td>
                    </tr>
                </thead>
                <tbody ng-repeat="queue in queues">
                    <tr ng-click="viewMessages(selectedComputer, queue.displayName)">
                        <td>{{ queue.displayName}}</td>
                        <td>{{ queue.messageCount}}</td>
                        <td>{{ queue.journalQueueMessageCount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height: 200px; overflow-y: scroll;" ng-show="messages.length">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <td>label</td>
                        <td>sent time</td>
                        <td>id</td>
                    </tr>
                </thead>
                <tbody ng-repeat="message in messages">
                    <tr ng-click="viewMessage(selectedComputer, selectedQueue, message.id)">
                        <td>{{ message.label}}</td>
                        <td>{{ message.sentTime}}</td>
                        <td>{{ message.id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height: 200px; overflow-y: scroll;" ng-show="messages.length">
            {{ selectedMessage }}
        </div>
    </div>
</div>
